<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký thất bại</title>
</head>
<body>
    <h1>Tài khoản này đã tồn tại vui lòng tạo tài khoản khác!</h1>
    <form action="/register">
        <button>Đăng ký</button>
    </form>
</body>
</html>